@-webkit-keyframes Election {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Election {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Election {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Election {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes Link {
    0%{background-color:#560093}
    100%{background-color:#48c5ff}
}

@keyframes offset{
  to{
    stroke-dashoffset: 0;
  }
}

#Top_Box{
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  size: 200%;
  animation: offset 3s linear infinite alternate;
}



body{
  background-color: rgb(242, 242, 242);

}

h2{
  font-size: 2em;
  font-family: "Karla", sans-serif;
  font-weight:700;
}

h4{
  font-size: 1.2em;
  font-family: "Noto Serif", sans-serif;
  font-weight:700;
}

.subtitle-text{
  font-size:1em;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
}
.intro-text > p{
  font-size: 1.2em;
}

.body-info{
  max-width: 640px;
  margin: auto;
  font-family: "Noto Serif";
  padding-left: 1em;
  padding-right: 1em;
}

.intro-link{
  -webkit-transition: all 0.6s ease;
   -moz-transition: all 0.6s ease;
   -o-transition: all 0.6s ease;
   -ms-transition: all 0.6s ease;
   transition: all 0.6s ease;
   font-weight: 700;
}

.intro-link:hover{
  background: linear-gradient(26deg, #e3ffb8, #fff6a6);
}

u{
  text-decoration: none;
  border-bottom: 2px solid black;
}

#header{
  height:45vh;
  font-size: 90px;
  line-height: 45vh;
  background: linear-gradient(26deg, #48c5ff, #560093);
  background-size: 200% 200%;
  font-family: "Karla";
  -webkit-animation: Election 6s ease infinite;
  -moz-animation: Election 6s ease infinite;
  -o-animation: Election 6s ease infinite;
  animation: Election 6s ease infinite;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #header{
    font-size: 60px;
    height: 400px;
    line-height: 400px;
  }
}


#divider{
  height:10px;
  background-color: blue;
}

.header-text{
  font-size: 1.5em;
}

.project-card{
  background-color: white;

  margin-bottom: 20px;
  box-shadow: 0px 3px 10px 2px #e5e5e5;
  -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;

}

.card-text-wrapper{
  padding: 15px;

}
.project-card:hover{
  box-shadow: 0px 3px 10px 2px #cecece;
  transform: translateY(-1px);
}

.card-text-wrapper > p{
  margin-bottom: 0;
}

.card-text-wrapper > h4{
  margin-bottom: 4px;
}

.card-link{
  background: white;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding: 15px;
  color: #560093;
}

.card-link:hover{
  background: linear-gradient(26deg, #48c5ff, #560093);
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  size: 200%;
  border-style: dashed;
  border-width: 5px;
  animation: offset 3s linear infinite alternate;
    background-size: 200% 200%;
  -webkit-animation: Election 6s ease infinite;
  -moz-animation: Election 6s ease infinite;
  -o-animation: Election 6s ease infinite;
  animation: Election 6s ease infinite;
 animation: offset 5s linear forwards;
}

hr{
  max-width: 620px;
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
