.bg
{
    position: absolute;
    width: 100%;
    z-index: 0;
}

/*.header img{
  height:80%;
  background-position:top-center;
}*/


.header
{
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/101/574/original/free-tropical-island-vector.png");
  height: 80vh;
  width: auto;
  background-position: center;
  background-size: cover;
}

.header > h1{
  color:white;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  text-align:center;
  font-size: 60px;

}

#register-wrapper{
  text-align:center;
  position: relative;
  top: 15%;
  transform: translateY(-50%);
}

.header > h2{
  color:white;
  position: relative;
  top: 15%;
  transform: translateY(-50%);
  text-align:center;


}

.header > button{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  align:center;


}
.navbar
{
  background:none;
  border:none;
  box-shadow:none;
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

.navbar.scrolled {
    background: rgb(8, 193, 255); //IE
    background: rgba(8, 193, 255, 0.78); //NON-IE
    -webkit-box-shadow: 0px 3px 0px 1px rgba(204,255,255,1);
-moz-box-shadow: 0px 3px 0px 1px rgba(204,255,255,1);
box-shadow: 0px 3px 0px 1px rgba(204,255,255,1);



}

.navbar-default .navbar-nav li a{
  font-size:22px;
  color:white;
  font-family:"Oswald", sans-serif;
  font-weight: 300;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 70px;
  transition: 0.3s ease;
}

.navbar-default .navbar-nav button{
  font-size:22px;
  color:white;
  font-family:"Oswald", sans-serif;;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 53px;
  transition: 0.3s ease;
}

#header-button{
  background-color:pink;
  background-image:none;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
}

#intro-button{
  background-color:pink;
  background-image:none;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}

.navbar-default .navbar-nav li a:hover{
  font-size:22px;
  color:pink;
  font-family:"Oswald", sans-serif;;
}

.navbar button{
  color:white;
  font-family:"Oswald", sans-serif;
  background:none;
  text-shadow:none;

}

.navbar-fixed-top {
    min-height: 70px;
}


@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

@media only screen and (max-width : 320px) {
/* Styles */
.navbar-nav > li > a {
line-height: 20px;
padding-top: 10px;
padding-bottom: 10px;}
}


.video-container {

    position: relative;
    padding-bottom: 35%;
    padding-top: 30px; height: 0; overflow: hidden;

}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 60vw;
    min-width: 300px;
    min-height: 200px;
    height: 30vw;
}
#about{
  padding-left: 10%;
  padding-right: 10%;
}

#section-header{
  /*background-color:pink;*/
  background-image: url('images/Untitled-1.svg');
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-top: 10px;
  margin-bottom:10px;
  text-align:center;

  /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
