.bg
{
    position: absolute;
    width: 100%;
    z-index: 0;
}

body{
  font-family:"PT Sans", "Verdana", sans-serif;

}

footer{
  height:200px;
  width:100%;
  background-color:pink;
  padding: 1em;
  margin-top:2em;
}

/*.header img{
  height:80%;
  background-position:top-center;
}*/


.header
{
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/101/574/original/free-tropical-island-vector.png");
  height: 100vh;
  width: auto;
  background-position: center;
  background-size: cover;
}

.header > h1{
  color:white;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  text-align:center;
  font-size: 60px;
  font-family: "Pacifico", sans-serif;

}

#register-wrapper{
  text-align:center;
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

.header > h2{
  color:white;
  position: relative;
  top: 18%;
  transform: translateY(-50%);
  text-align:center;
  font-family: "Oswald";


}

.header > button{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  align:center;


}
.navbar
{
  background:none;
  border:none;
  box-shadow:none;
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

.navbar.scrolled {
    background: rgb(8, 193, 255); //IE
    background: rgba(8, 193, 255, 0.78); //NON-IE
    -webkit-box-shadow: 0px 3px 0px 1px rgba(204,255,255,1);
-moz-box-shadow: 0px 3px 0px 1px rgba(204,255,255,1);
box-shadow: 0px 3px 0px 1px rgba(204,255,255,1);



}

.navbar-default .navbar-nav li a{
  font-size:22px;
  color:white;
  font-family:"Oswald", sans-serif;
  font-weight: 300;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 70px;
  transition: 0.3s ease;
}

.navbar-default .navbar-nav button{
  font-size:22px;
  color:white;
  font-family:"Karla", sans-serif;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 53px;
  transition: 0.3s ease;
}

.navbar-default .navbar-brand{
  font-family:"Oswald", sans-serif;
  color: white;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 70px;
  font-size:34px;
  transition: 0.3s ease;
}


#header-button{
  background: pink;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  line-height: 50px;
  font-size:30px;
  font-family: "Karla";
}

#intro-button{
  background-color:pink;
  background-image:none;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  font-family: "Karla";
}

#intro-text{
  font-size: 18px;
}

.navbar-default .navbar-nav li a:hover{
  font-size:22px;
  color:pink;
  font-family:"Oswald", sans-serif;


}

.navbar button{
  color:white;
  font-family:"Oswald", sans-serif;
  background:none;
  text-shadow:none;

}

.download-card{
  height:175px;
  width: 90%;
  background-color:rgba(8, 193, 255, 0.78);
  border-radius:0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   text-align: center;
   margin:0 auto;
}

.download-card:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    background-color:rgba(8, 193, 255, 0.55);
    border-radius:4px;
}

.navbar-fixed-top {
    min-height: 70px;
}


@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

@media only screen and (max-width : 320px) {
/* Styles */
.navbar-nav > li > a {
line-height: 20px;
padding-top: 10px;
padding-bottom: 10px;}
}


.video-container {

    position: relative;
    padding-bottom: 35%;
    padding-top: 30px; height: 0; overflow: hidden;

}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 60vw;
    min-width: 300px;
    min-height: 200px;
    height: 30vw;
}
#about{
  padding-left: 10%;
  padding-right: 10%;
}

#section-header{
  /*background-color:pink;*/
  background-image: white;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-top: 10px;
  margin-bottom:10px;
  text-align:center;
  font-family: "Oswald";
  font-weight: 700;

   /*background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;*/
}

#section-header > h2 {
  font-size:48px;
}


.downloads-section{
  padding-left:10%;
  padding-right:10%;
}
.downloads-panel{
  height:50px;
  background-color:aquamarine;
  width:100%;
  line-height:50px;
  font-family: "Oswald";
  font-size:20px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   margin-bottom: 10px;
   padding-left:10px;

}


.downloads-panel:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    background-color:rgba(8, 193, 255, 0.55);
}

.download-body{
  background-color: aquamarine;
  border-width: 1px;
  border-style: solid;
}
