.bg
{
    position: absolute;
    width: 100%;
    z-index: 0;
}

body{
  font-family:"Open Sans", "Verdana", sans-serif;
}

footer{
  height:450px;
  width:100%;
  background-color:#f08080;
  padding: 1em;
  margin-top:2em;
}

/*.header img{
  height:80%;
  background-position:top-center;
}*/


.header
{

  /*background-image: url("http://static.vecteezy.com/system/resources/previews/000/101/574/original/free-tropical-island-vector.png");*/
  height: 100vh;
  width: auto;
  background-position: center;
  background-size: cover;
  z-index:3;
}

.header > h1{
  color:white;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  text-align:center;
  font-size: 60px;
  font-family: "Pacifico", sans-serif;

}

#register-wrapper{
  text-align:center;
  position: relative;

}

.header > h2{
  color:white;
  position: relative;

  text-align:center;
  font-family: "Oswald";


}

.header > button{



}
.navbar
{
  background: none;
  border:none;
  box-shadow:none;
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;

}

.navbar.scrolled {
    background-color: #82D1D8;
    background-image: url("images/StripesHeader.png") !important;
      background-repeat: no-repeat;

}

.navbar-default .navbar-nav li a{
  font-size:22px;
  color:white;
  font-family:"Oswald", sans-serif;
  font-weight: 300;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 70px;
  transition: 0.3s ease;
}


.navbar-default .navbar-nav li p a{
  font-size:22px;
  color:white;
  font-family:"Karla", sans-serif;
  font-weight: 300;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 48px;
  transition: 0.3s ease;

}

.navbar-default .navbar-nav a{
  font-size:22px;
  color:white;
  font-family:"Karla", sans-serif;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 53px;
  transition: 0.3s ease;
  background: none;
}


.navbar-default .navbar-nav li p a:hover{
  font-family: "Karla";
  background-color: #f08080 ;
  color: white;
}
.navbar-default .navbar-nav a:hover{
  background: #f08080;
}

.navbar-default .navbar-brand{
  font-family:"Oswald", sans-serif;
  color: white;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 70px;
  font-size:34px;
  transition: 0.3s ease;
  vertical-align: middle;
}


#header-button{
  background: #f08080;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  line-height: 50px;
  font-size:22px;
  font-family: "Karla";

}

#video-button{
  background: gray;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  line-height: 50px;
  font-size:22px;
  font-family: "Karla";

}

.announcement-button{
  background-image: none;
  text-shadow:none;
  color:black;
  font-family: "Karla";
  border: 1px solid black;
  padding: 5px;
  box-radius: 4px;


}

#download-button{

  font-family: "Karla";
  color: white;
  text-shadow: none;
  background-color: #82D1D8;
  background-image: none;
}

#intro-button{
  background-color:#f08080;
  background-image:none;
  text-shadow:none;
  color:white;
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  font-family: "Karla";
  margin:0 auto;
  display: block;
  line-height:35px;
  font-size:24px;
}

#intro-text{
  font-size: 18px;
  line-height:30px;


}



.navbar-default .navbar-nav li a:hover{
  font-size:22px;
  color:#f08080;
  font-family:"Oswald", sans-serif;


}

.navbar button{
  color:white;
  font-family:"Karla", sans-serif;
  background:none;
  text-shadow:none;

}


.download-card{
  height:175px;
  width: 90%;
  background-color:#B1D782;
  border-radius:0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   text-align: center;
   margin:0 auto;
}

.download-card:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    background-color:rgba(8, 193, 255, 0.55);
    border-radius:4px;
}

.navbar-fixed-top {
    min-height: 75px;
    /*background-image: url('images/StripesHeader.png');*/
}

.navbar-fixed-top .scrolled{
  background-image: url('images/StripesHeader.png');
  background-repeat: no-repeat;
}



.video-container {

    position: relative;
    padding-bottom: 35%;
    padding-top: 30px; height: 0; overflow: hidden;

}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 60vw;
    min-width: 300px;
    min-height: 200px;
    height: 30vw;
}
#about{
  width:90%;
  max-width: 700px;
  margin: auto;
  padding-top: 50px;
}

#about > h3{
  font-family: "Pacifico";
  font-size: 48px;
  text-align: center;
}

#section-header{
  /*background-color:#f08080;*/
  width: 100%;
  text-align:center;
  font-family: "Oswald";
  font-weight: 700;

   /*background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;*/
}

#section-header > h2 {
  font-size:48px;
  line-height: 150px;
}


.downloads-section{
  padding-left:10%;
  padding-right:10%;
}
.downloads-panel{
  height:50px;
  background-color:#82D1D8;
  width:100%;
  max-width: 700px;
  line-height:50px;
  font-family: "Karla";
  font-size:20px;
  margin: 0 auto;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);*/
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   margin-bottom: 10px;
   padding-left:10px;
   border-radius:4px;

}

.downloads-panel.required{
  background-color: #f08080;
}

.downloads-panel a{
  color:white;
}

.downloads-panel.required:hover{
  background-color: #ff9d9d;
}

.downloads-panel:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    background-color:#91E0E2;
}

.download-body{
  color: white;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

}

#applications{
  background-color: #b1d782;
}

.section > #section-header > h2{
  color:white;
}

.section{
  padding-bottom: 15px;
}


#faq{
  background-color:#333333;
  color: white;

}

#faq h3{
  font-size:18px;
  font-weight: bold;
}

#deadlines{
  background-color: #ffcc33;
  color: white;
}

.section > p{
  font-size: 18px;
    line-height: 30px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.schedule-card{
  background-color: white;
  color: gray;
  border-radius: 4px;
  width:90%;
  margin: 0 auto;
}

.schedule-card.full-width{
  max-width: 700px;
}
.schedule-card > h2{
  padding:20px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
}

.schedule-card > ul{
  padding-bottom:20px;
  margin-bottom:0px;
}

.schedule-card > p{
  padding:20px;
  padding-bottom:0px;
  padding-top:0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
  background: none;
  box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: none;
}

#logo-header  {
  height: 50%;
  display: block;
  margin: 0 auto;
}

#tiki-thursday:hover ~ .st2{
    fill:red;

}


.wrapper {
  background: #EFEFEF;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 20px !important;
  width: 250px;
  padding-top: 5px;
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 150px;
  white-space: nowrap
}

.imageDiv img {
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

#header-seal{
  height:60px;
  transform: translateY(-5px);
}

#app-intro{
  padding-bottom: 20px;
  color:white;
}

.about-header
{
  background-image: url("images/about-header-1.jpg");
  height: 400px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
    background-repeat: no-repeat;


}

.why-header{
  background-image: url("images/why.jpg");
  height: 400px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
    background-repeat: no-repeat;

}

.img-center{
  margin: 0 auto;
}

.profile h3{
  font-family: "Karla";
}
.profile{

  min-height: 400px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}

#video{
  position:absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
    min-height: 100vh;

    width: auto;
    height: auto;
  z-index:-1;
  transform: translateY(-50px);
}

#backup-photo{
  position: absolute;
  top: 0;
  left:0;
  min-width:100vw;
  min-height:100vh;
  width: auto;
  height: auto;
  z-index:-2;
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/101/574/original/free-tropical-island-vector.png");
  background-size: cover;

}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

@media only screen and (max-width : 320px) {
/* Styles */
.navbar-nav > li > a {
line-height: 20px;
padding-top: 10px;
padding-bottom: 10px;}
}

@media only screen and (max-width : 760px) {
  #section-header > h2 {
    font-size:28px;
    line-height: 100px;
  }

  .downloads-panel{
    font-size: 14px;

  }

  .downloads-panel.long{
    height:75px;
    line-height: 14px;
    margin: auto 0;
    display: flex;
align-items: center; /* align vertical */
margin-bottom: 10px;
  }

  .downloads-panel.long img{
    align-items: right;
  }

  #video{
    display:none;
  }


}

footer > iframe{
    width: 99%;
    margin: auto;
}

hr{
  max-width: 700px;
}

.frame { width: 100%; height: 250px; padding: 0; margin-top: 10px;}
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 20px 0 0; padding: 0; width: 450px; height: 100%; border-radius: 4px;}


.scrollbar { margin-top: 10px; width: 100%; height: 10px; background: #bcbcbc; border-radius: 4px;}
.scrollbar .handle {
    height: 10px;
    background: #222;
    border-radius: 4px;
}

.announcement-card{

  border-top: 6px solid #82D1D8;
}

.video-card{
  border-top: 6px solid #f08080;
}

.tiki-card{
  background-color: blue;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}


.reason-card{
  width: 90%;
max-width: 700px;
margin: 0 auto;
}

.reason-card > img{
  margin: auto;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 35px;
}

#reason{
  font-size: 17px;
  line-height: 23px;
}

.slider-contents{
  position: relative;
  padding: 20px;
  height: 100%;
  background-size: cover;
  z-index: 1;
}

.slider-contents > p{
  z-index:4;
}

.slider-contents > img{
  width: 450px;
}
.image-cover{
  top: 0;
  left: 0px;
  position: absolute;
  width: 450px;
  height: 100%;
  z-index: -2;
  border-radius: 0px 0px 4px 4px;
  background-size: cover;
}

.image-gradient{
  top: 0;
  left: 0px;
  position: absolute;;
  width: 450px;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  border-radius: 0px 0px 4px 4px;
  background: linear-gradient(black, #82D1D8);
}

.red{
    background: linear-gradient(black, #f08080);
}
.active-card{
  opacity: 1.0 !important ;
}


.nextButton{
  margin: 0 auto;
  background-image: none;
}

.prevButton{
  margin: 0 auto;
    background-image: none;

}

.announcement-button-wrapper{
  margin-top: 15px;
 text-align: center;
}
